
<div class="gallery">
    <div class="row row-align-center">
        <div class="grid-12">
            <h1>{{title}}</h1>
            <h5>{{description}}</h5>
            <p *ngIf="galleries">Ilość galerii: {{galleries.length}}</p>
            <app-gallery-search *ngIf="galleries.length"(searchValue)="setSearchValue($event)"></app-gallery-search>
        </div>
        <div class="grid-12 grid-centered">
            <div class="row row-align-middle" *ngIf="galleries">
                <div class="grid-5 grid-centered" *ngFor="let item of galleries | searchGalleries : searchValue">
                    <div class="component-content">
                        <div class="thumb-container">
                            <img src='{{item.thumbUrl}}'/>
                        </div>
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                        <p><small>{{item.dateCreated | uppercase | polishDate}}</small></p>
                    </div>
                </div>
            </div>
            <button class="button button-small" (click)="exportGalleries()">Export galleries</button>
            <app-gallery-item
                *ngFor="let item of galleries | searchGalleries: searchValue;
                trackBy : item?.id"
                [gallery]="item"
                class="grid-5 grid-centered">
            </app-gallery-item>
        </div>
    </div>
  </div>