
<div class="gallery">
    <div class="row row-align-center">
        <div class="grid-12">
            <h1>{{title}}</h1>
            <h5>{{description}}</h5>
            <p *ngIf="galleries">Ilość galerii: {{galleries.length}}</p>
            <input type="text" name="searchValue" [(ngModel)]="searchValue" placeholder="Szukaj" (keyup) = onSearchValue()>
            <p>Szukam: {{searchValue}}</p>
        </div>
        <div class="grid-12 grid-centered">
            <div class="row row-align-middle" *ngIf="galleries">
                <div class="grid-5 grid-centered" *ngFor="let item of galleries; trackBy:item?.galleryId | searchGalleries : searchValue">
                    <div class="component-content">
                        <div class="thumb-container">
                            <img src='{{gallery.thumbUrl}}'/>
                        </div>
                        <h3>{{gallery.title}}</h3>
                        <p>{{gallery.description}}</p>
                        <p><small>{{gallery.dateCreated | uppercase | polishDate}}</small></p>
                    </div>
                </div>
            </div>

            <app-gallery-item
                *ngFor="let item of galleries | searchGalleries: searchValue"
                [gallery]="item"
                class="grid-5 grid-centered">
            </app-gallery-item>
        </div>
    </div>
  </div>